.header-container {
  --color: 218 20% 92%;
  position: relative;
  background-color: hsl(var(--color));
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
}

.header-container label {
  margin-top: 4px;
}

.header-container.light {
  background-color: hsl(var(--white));
}

.header-container__container-left-icons {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.header-container__container-right-icons:first-child,
.header-container__container-right-icons:last-child {
  transform: translateY(2px);
}

.header-container__container-right-icons {
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 10px;
}

.logo {
  justify-self: center;
}

.cart-icon {
  position: relative;
}

.cart-icon [alt="profile icon"] {
  width: 25px;
}
.cart-badge {
  position: absolute;
  top: -5px;
  right: -8px;
  display: grid;
  place-items: center;
  width: 18px;
  height: 18px;
  font-size: 10px;
  font-weight: 200;
  line-height: 1;
  background-color: hsl(var(--default));
  border-radius: 50%;
  border: 2px solid hsl(var(--color));
  /* padding: 2px 4px; */
  color: hsl(var(--color));
}
