.section-header {
  --color: 218 20% 92%;

  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

.header {
  background: hsl(var(--white));
  display: block;
  box-shadow: 0 -1px hsl(var(--label) / 0.12) inset;
  transition: background 0.3s ease-in-out;
}

.header.transparent {
  background: #e7eaef;
}

.header.light {
  background: hsl(var(--white));
}

.header-container {
  padding: 16px 0;

  /* transition: opacity 0.3s ease-in-out; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
}

.header-container label {
  margin-top: 4px;
}

.header-container__container-left {
  padding: 16px 0;
}

.header-container__container-right-icons:first-child,
.header-container__container-right-icons:last-child {
  transform: translateY(2px);
}

.header-container__container-right-icons {
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 10px;
}

.logo {
  justify-self: center;
  width: 90px;
}

.logo picture,
.logo picture img {
  width: 100%;
}

.cart-icon {
  position: relative;
}

.cart-icon [alt="profile icon"] {
  width: 25px;
}
.cart-badge {
  --_size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(var(--default) / 0.8);
  color: hsl(var(--white));
  font-size: 12px;
  min-width: var(--_size);
  min-height: var(--_size);
  min-inline-size: var(--_size);
  min-block-size: var(--_size);
  border-radius: 36px;
}

.header-container .currencies {
  width: 80px;
  top: 50%;
  left: 0;
  transform: translateY(20%);
}

.header-container .currencies select {
  border: none;
  font-size: 12px;
}

@media (min-width: 777px) {
  .header-container {
    padding: 10px 0 38px 0;
  }
  .header-container__container-left {
    margin-bottom: 24px;
  }

  .logo {
    width: 210px;
  }
}
