.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: var(--primary-font);

  transition: translate var(--animation-timing);
  translate: -100%;
  padding: 0.5rem 1.6rem;
  background-color: hsl(var(--white));
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  /* max-width: 80%; */
  width: min(300px, 80%);
  box-shadow: var(--box-shadow);
  outline: none;
  z-index: 10;
}

.nav {
  display: none;
}

.active {
  translate: 0;
}

.sidebar__nav-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1.6rem;
  border-bottom: 0.5px solid hsl(var(--placeholder) / 0.2);
}

.sidebar__content-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.contact-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
  color: hsl(var(--label));
}

.contact-card > div,
.contact-card > div a {
  display: flex;
  gap: 1rem;
}

.socials-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
}

/* ============== LARGE SCREEN =============== */

@media (min-width: 700px) {
  .sidebar {
    display: none;
  }

  .nav {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 18px;
    width: 100%;
    text-align: center;
  }
}
