.nav-item {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0 21px;
}

.nav-item.active {
}

.nav-item .nav-item__link {
  color: hsl(var(--body));
  letter-spacing: 1.5px;
}

.nav-item .nav-item__link span {
  position: absolute;
  display: block;
  bottom: 0;
  height: 100%;
  color: transparent;
  user-select: none;
}

.nav-item .nav-item__link span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  scale: 0;
  transform-origin: left center;
  border-bottom: 2px solid hsl(var(--default));
  transition: scale 0.3s, opacity 0.3s;
}

.nav-item.active .nav-item__link span::after {
  scale: 1;
  opacity: 1;
}

.nav-item-body {
  position: absolute;
  padding: 20px 0;
  width: 100%;
  left: 0;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  max-height: max-content;
  overflow: hidden;
  text-align: left;
  background: white;
  border-bottom: 1px solid #dddddd;
  transition: all 0.3s ease-in-out;
}
.nav-item-body.show {
  visibility: visible;
  opacity: 1;
}

.nav-item-body-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.sub-category {
  flex-shrink: 0;
  margin: 20px 0;
}

.sub-category__title {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
  font-size: 11px;
  margin-bottom: 20px;
  color: hsl(var(--placeholder));
}

.sub-category__item {
  white-space: nowrap;
}

.sub-category ul li {
  position: relative;
  display: block;
  margin-bottom: 12px;
  width: 100%;
  text-align: left;
  line-height: 1.5;
  font-size: 13px;
  text-transform: capitalize;
  color: hsl(var(--body));
}

.featured-product {
  --_size: 280px;
  width: var(--_size);
  height: var(--_size);
  min-width: 250px;
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  margin: 20px 0 70px 0;
}

.nav-item-body-wrapper .featured-product .nav-item__featured-product-img {
  width: 100%;
  height: 100%;
}

.nav-item-body-wrapper .featured-product .nav-item__featured-product-img img {
  object-fit: cover;
  object-position: 50% 70%;
}

.nav-item__featured-product-title {
  margin-top: 20px;
}

.nav-item__featured-product-price {
  justify-content: center;
}
