.select [class*="css-t3ipsp-control"],
.select [class*="css-13cymwt-control"],
.select [class*="css-g3gxbn-control"] {
  --_border-radius: 4px;

  width: inherit;
  font-size: 13.5px;
  border: 1px solid hsl(var(--light-gray, 0 0% 87%));
  border-radius: var(--_border-radius);
  padding: 2px 0 2px 2px;
  transition: all var(--timing-duration-base, 200ms) ease-in-out;
  font-family: var(--primary-font, "Tenor Sans", sans-serif);
}

.select.error [class*="css-t3ipsp-control"],
.select.error [class*="css-13cymwt-control"],
.select.error [class*="css-g3gxbn-control"] {
  border-color: hsl(var(--error, 0 77% 53%));
  box-shadow: 0 0 0 1px hsl(var(--error, 0 77% 53%));
}

/* .select [class*="css-g3gxbn-control"]:hover {
  border-color: none;
} */

/* css-13cymwt-control */
.select [class*="css-13cymwt-control"]:hover,
.select [class*="css-t3ipsp-control"]:hover,
.select [class*="css-t3ipsp-control"]:focus-within {
  box-shadow: 0 0 0 1px hsla(var(--dark, 18 31% 51%) / 0.9);
}

.select [class*="css-1nmdiq5-menu"] {
  font-size: 13.5px;
}

.select [class*="  css-10wo9uf-option"] {
  font-size: 13.5px;
}

.select-error {
  color: hsl(var(--error, 0 77% 53%));
  font-size: 14px;
  padding-top: 5px;
}
