.select {
  --_border-radius: 4px;

  position: relative;
  width: 100%;
}

.label {
  position: absolute;
  visibility: hidden;
}

.select-field {
  width: inherit;
  font-size: 13.5px;
  border: 1px solid hsl(var(--light-gray));
  border-radius: var(--_border-radius);
  padding: 13.5px 11px;
  transition: all var(--timing-duration-base) ease-in-out;
}

.select-field:focus-within,
.select-field:hover {
  position: relative;
  box-shadow: 0 0 0 1px hsla(var(--dark) / 0.9);
}

.arrow {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}
