.hero-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15.3rem 0;
}

.hero-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.title {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 2.4rem;
  margin-right: 1rem;
  font-family: var(--font-hero-title);
  text-transform: uppercase;
  color: hsl(var(--body) / 0.76);
  font-weight: bold;
  font-size: 38.66px;
  line-height: 43.5px;
  letter-spacing: 1.21px;
  z-index: 1;
}

.title span:nth-child(2) {
  margin-left: 1rem;
}

.button {
  width: max-content;
  margin-top: 6rem;
}

.button button {
  background-color: hsl(var(--title-active) / 0.35);
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 24px;
  color: hsl(var(--off-white));
  font-size: 14px;
  white-space: nowrap;
  backdrop-filter: blur(2px);
  border-radius: 50px;
  border: 0.5px solid white;
  padding: 0.9em 1.8em;
  border: none;
  z-index: 1;
}
