@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,700");

@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");

#root {
  /* FONT */
  --font-hero-title: "Bodoni Moda", serif;
  --primary-font: "Tenor Sans", sans-serif;

  /* COLORS*/

  /* gray scale */
  --title-active: 0 0% 0%;
  --body: 0 0% 20%;
  --label: 0 0% 33%;
  --placeholder: 0 0% 53%;
  --border: 0 0% 87%;
  --input-bg: 0 0% 98%;
  --line: 33 38% 80%;
  --background: 32 55% 94%;
  --off-white: 0 0% 99%;
  --gray: 240 8% 97%;
  --light-gray: 0 0% 87%;
  --dark-gray: 0 1% 71%;
  --white: 0 0% 100%;
  --disable: 0 0% 74%;
  --overlay: hsl(0 0% 20% / 0.25);
  --error: 0 77% 53%;

  /* Primary*/
  --default: 18 65% 62%;
  --secondary: 18 100% 64%;
  --dark: 18 31% 51%;

  --timing-ease-out: cubic-bezier(0.3, 0.5, 0.5, 1);
  --timing-duration-base: 200ms;
  --timing-duration-slow: 300ms;

  /* Hamburger */
  --bar-width: 23.39px;
  --bar-height: 1px;
  --hamburger-gap: 6px;
  --hamburger-margin: 8px;
  --animation-timing: var(--timing-duration-slow) var(--timing-ease-out);
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);

  --box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --box-shadow2: 0 3px 5px -2px hsl(220 40% 2% / calc(25% + 3%)),
    0 7px 14px -5px hsl(220 40% 2% / calc(25% + 5%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: hwb(120 30% 0% / 0.5); */
}
html {
  height: 100%;
}

body {
  min-height: 100dvh;
  background: #fcfdfd;
  font-family: "Tenor Sans", sans-serif;
  line-height: 1.333;
  font-weight: normal;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

:focus {
  outline: none;
}

button {
  border: none;
  font-family: var(--primary-font);
  white-space: nowrap;
  user-select: none;
  background: none;
  cursor: pointer;
}

select {
  appearance: none;
  background: #0000;
  color: inherit;
  font: inherit;
  margin: 0;
  cursor: pointer;
}

button:disabled {
  outline: none;
  background-color: hsl(var(--disable) / 0.4);
  color: hsl(var(--label) / 0.6);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}

input {
  font-family: var(--primary-font);
}

main {
  min-height: calc(100vh - calc(316.8px + 7.6rem));
}

.container {
  width: min(700px, 92%);
  margin-inline: auto;
}

/* Title styles */
.title {
  font-size: 1.125rem;
  line-height: 40px;
  letter-spacing: 4px;
}

.price {
  font-size: 0.9375rem;
  line-height: 24px;
}

.body-s {
  font-size: 0.75rem;
  line-height: 18px;
}

.body-m {
  font-size: 0.875rem;
  line-height: 24px;
}

.body-l {
  font-size: 1rem;
  line-height: 24px;
}

.sub-title-14px {
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: 2px;
}

.sub-title-16px {
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 2px;
}

/* ::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: hsl(18 65% 62%);
}

::-webkit-scrollbar-track {
  background: hsl(0 0% 87%);
} */

/* ::-webkit-scrollbar-horizontal {
  display: none !important;
} */
