.checkout {
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: max-height var(--timing-duration-slow) var(--timing-ease-out);
}

.checkout.active {
  visibility: visible;
}

.order-summary-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100%);
  background: #f7f7f7;
  padding: 1.2rem 1rem;
}

.order-summary-button .subtotal {
  margin: 0;
  font-size: 17px;
}

.order-summary-button__title {
  display: flex;
  align-items: center;
}

.delivery {
  --_gap: 12px;

  display: flex;
  flex-direction: column;
  gap: var(--_gap);
  background: hsl(var(--white));
  margin-top: 1rem;
  padding: 1rem 0;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: var(--_gap);
}

.contact {
  --_gap: 12px;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: var(--_gap);
  color: hsl(var(--body));
  background: hsl(var(--white));
}

.contact__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__title {
  font-size: 22px;
}

.login {
  font-size: 14px;
}

.login a {
  text-decoration: underline;
}

.input {
  display: flex;
  flex-direction: column;
  gap: var(--_gap);
}

.select [class*="css-t3ipsp-control"],
.select [class*="css-13cymwt-control"],
.select [class*="css-g3gxbn-control"] {
  --_border-radius: 4px;

  width: inherit;
  font-size: 13.5px;
  border: 1px solid hsl(var(--light-gray));
  border-radius: var(--_border-radius);
  padding: 2px 0 2px 2px;
  transition: all var(--timing-duration-base) ease-in-out;
  font-family: var(--primary-font);
}

/* .select [class*="css-g3gxbn-control"]:hover {
  border-color: none;
} */

/* css-13cymwt-control */
.select [class*="css-13cymwt-control"]:hover,
.select [class*="css-t3ipsp-control"]:hover,
.select [class*="css-t3ipsp-control"]:focus-within {
  box-shadow: 0 0 0 1px hsla(var(--dark) / 0.9);
}

.select [class*="css-1nmdiq5-menu"] {
  font-size: 13.5px;
}

.select [class*="  css-10wo9uf-option"] {
  font-size: 13.5px;
}
