.checkout {
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: max-height var(--timing-duration-slow) var(--timing-ease-out);
}

.checkout.active {
  visibility: visible;
}

.order-summary-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100%);
  background: #f7f7f7;
  padding: 1.2rem 1rem;
}

.order-summary-button .subtotal {
  margin: 0;
  font-size: 17px;
}

.order-summary-button__title {
  display: flex;
  align-items: center;
}
