.checkout {
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: max-height var(--timing-duration-slow) var(--timing-ease-out);
}

.checkout.active {
  visibility: visible;
}

.order-summary-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100%);
  border: ;
  background: #f7f7f7;
  padding: 1rem;
}

.order-summary-button__title {
  display: flex;
  align-items: center;
}
