.contact {
  --_gap: 12px;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: var(--_gap);
  color: hsl(var(--body));
  background: hsl(var(--white));
}

.contact__title {
  color: hsl(var(--body));
  font-size: 24px;
  margin-bottom: 8px;
}

.contact__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  font-size: 14px;
}

.login a {
  text-decoration: underline;
}

.input {
  display: flex;
  flex-direction: column;
  gap: var(--_gap);
}
