.order-summary {
  padding: 1.2rem 0;
}

.variation {
  margin: 0;
}

.product-item-card {
  display: flex;
}

.price {
  display: flex;
  gap: 2rem;
}

.price p {
  color: hsl(var(--label));
}

.quantity {
  display: flex;
  font-size: 11px;
  margin: auto;
  transform: translateY(1px);
}

.quantity span {
  text-transform: lowercase;
  margin-right: 4px;
}

.product-item-subtotal {
  justify-self: end;
  align-self: center;
}
