.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem 1.6rem;
}

.title {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 40px;
  letter-spacing: 4px;
  color: hsl(var(--body));
  font-weight: normal;
}

.delete {
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  padding: 4px 4px 4px 5.5px;
}

.delete:hover {
  background-color: hsl(var(--title-active) / 0.05);
  transition: 0.3s;
}

.delete img {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}
