.cart {
  margin-inline: auto;
  padding-bottom: calc(93px + 2rem);
}

.cart:has(.empty-cart) {
  padding: 0;
}

.empty-cart {
  display: grid;
  place-items: center;
  height: calc(100dvh - 390px);
}
