.cart-bottom {
  position: fixed;
  bottom: -0.5px;
  left: 0;

  border: 0;
  width: 100%;
  background-color: hsl(var(--off-white));
  box-shadow: var(--box-shadow);
  padding: 12px;
}

.cart-bottom-inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-bottom .cart-bottom-inner-wrapper.empty-cart {
  justify-content: center;
  width: 100%;
}

.checkbox-select-all {
  display: flex;
  align-items: center;
}

.checkbox-select-all p {
  font-size: 14px;
  line-height: 0;
  color: hsl(var(--label));
  margin-left: -10px;
}

.price-summary {
  display: flex;
  flex-direction: column;
}
.subtotal,
.saved {
  text-transform: capitalize;
  display: flex;
  gap: 6px;
  justify-content: start;
  align-items: end;
  line-height: 1.1;
}

.subtotal__title {
  font-size: 14px;
}

.saved__title {
  font-size: 12px;
}

.cart-buttons-wrapper button {
  gap: 2px;
  align-items: center;
  /* width: calc(100% + 1rem); */
}

.cart-bottom.empty-cart .cart-bottom-inner-wrapper {
  justify-content: center;
}

.cart-bottom.empty-cart .cart-bottom-inner-wrapper .cart-buttons-wrapper {
  width: min(676px, 100%);
}

.cart-bottom.empty-cart
  .cart-bottom-inner-wrapper
  .cart-buttons-wrapper
  a
  button {
  width: 100%;
}

.cart-bottom.empty-cart
  .cart-bottom-inner-wrapper
  .cart-buttons-wrapper
  a
  button
  svg {
  width: 18px;
  margin-right: 10px;
  transform: translateY(-2px);
}

.cart-buttons-wrapper button span {
  transform: translateY(-1px);
}
