.add-minus-wrapper {
  --color: 0 0% 77%;

  display: flex;
  gap: 10px;
  align-items: center;
  /* justify-content: center; */
  margin: 14px 0;
  border: 1px solid hsl(var(--color) / 0.4);
  width: fit-content;
}

.add-minus-wrapper .button {
  position: relative;
  width: 24px;
  height: 24px;
}
.add-minus-wrapper .button:first-child {
  border-right: 1px solid hsl(var(--color) / 0.4);
}
.add-minus-wrapper .button:first-child:disabled,
.add-minus-wrapper .button:last-child:disabled {
  background-color: hsl(var(--white));
}

.add-minus-wrapper .button:first-child::before,
.add-minus-wrapper .button:last-child::before,
.add-minus-wrapper .button:last-child::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 1px;
  background-color: hsl(var(--label) / 0.8);
}
.add-minus-wrapper .button:last-child {
  border-left: 1px solid hsl(var(--color) / 0.4);
}

.add-minus-wrapper .button:last-child::after {
  rotate: 90deg;
  transform: translate(-5%, 600%);
}

.add-minus-wrapper .button:first-child:disabled:before,
.add-minus-wrapper .button:last-child:disabled:before,
.add-minus-wrapper .button:last-child:disabled:after {
  background-color: hsl(var(--color) / 0.5);
}

.add-minus-wrapper .quantity {
  width: 28px;
  text-align: center;
  border: none;
  font-size: 13px;
  color: hsl(var(--default));
  line-height: 13px;
}

.add-minus-wrapper .quantity:disabled {
  color: hsl(var(--default) / 0.5);
  background-color: hsl(var(--white));
}
