.input {
  position: relative;
  width: 100%;
}

.label {
  position: absolute;
  visibility: hidden;
}

.input-field-wrapper {
  border: 1px solid hsl(var(--light-gray));
  border-radius: 4px;
  transition: all var(--timing-duration-base) ease-in-out;
}

.input-field-wrapper:focus,
.input-field-wrapper:hover {
  box-shadow: 0 0 0 1px hsla(var(--dark) / 0.9);
}

.input-field {
  width: 100%;
  padding: 13.5px 11px;
  border: 0;
  outline: 0 solid #0000;
  z-index: 1;
}
