.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: calc(var(--hamburger-gap));
  width: max-content;
  /* height: max-content; */
  position: relative;
  top: -2px;
  left: var(--hamburger-margin);
  z-index: 20;
  cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: 0.5px;
  background-color: hsl(var(--body));
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
  width: calc(var(--bar-width) - 8px);
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--overlay);
  z-index: 9;
}
