.product-filter-menu-container {
  position: fixed;
  top: 0px;
  right: -5px;
  translate: 100%;

  width: 400px;
  max-width: 90%;
  font-family: var(--primary-font);
  transition: translate var(--animation-timing);
  background-color: hsl(var(--white));
  box-shadow: var(--box-shadow);
  border-right: 1px solid #e4e4e7;
  outline: none;
  overflow: hidden;
  z-index: 1000;
}

.active {
  translate: 0;
}

.filter-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  padding: 1.4rem 1rem 0.5rem;
  line-height: 34.5px;
  letter-spacing: 1px;
  color: hsl(var(--body));
  font-weight: 600;
  background-color: #f2f2f2;
  border-bottom: 1px solid hsl(var(--border) / 0.5);
  z-index: 9;
}
