.button {
  height: 28px;
  display: grid;
  place-items: center;
  border: 1px solid hsl(var(--border));
  border-radius: 3px;
  font-size: 11px;
  color: hsl(var(--label));
  padding: 2px 0;
}

.button p {
  text-align: center;
}

/* .button.color {
  width: 24px;
  height: 24px;
}

.button.color:focus,
.button.color:hover {
  border-radius: 1px;
  outline: 2px solid hsl(var(--default));
  outline-offset: 0.5px;
} */

.button.selected {
  border-color: hsl(var(--default));
  color: hsl(var(--default));
}

.button.design {
  width: auto;
}

.button.button-with-image {
  display: flex;
  gap: 4px;
  overflow: hidden;
  padding: 2px 8px;
}

.button-with-image img {
  width: 30%;
  height: 24px;
}

.button-with-image p {
  width: 70%;
}
