.filter-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.title-search-result {
  text-transform: uppercase;
  color: hsl(var(--body));
  font-size: 14px;
  line-height: 106%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-actions-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  padding: 8px 10px;
  border-radius: 33px;
  background-color: hsl(var(--gray) / 0.8);
  color: hsl(var(--label));
  font-size: 13px;
  line-height: 106%;
}

.button.sort-button p {
  width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-layout-button,
.filter-button {
  width: 36px;
  border-radius: 100%;
}

.overflow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: hsl(var(--off-white) / 0.7);
  backdrop-filter: blur(1px);
  z-index: 99;
}
