.search-form {
  margin: 0 1rem;
}

.form-field {
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(var(--placeholder) / 0.4);
}

.form-field:focus-within,
.form-field:hover {
  border-color: hsl(var(--placeholder));
}
.search-input-field::placeholder {
  color: hsl(var(--placeholder) / 0.4);
}
.search-input-field::placeholder:focus-within,
.search-input-field::placeholder:hover {
  color: hsl(var(--placeholder));
}
.search-input-field {
  font-size: 16px;
  line-height: 34.5px;
  color: hsl(var(--label));
  width: 100%;
  border: none;
  background: transparent;
}

.recent-search-items-card {
  display: flex;
}

.delete-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: hsl(var(--gray) / 0.8);
  padding: 12px;
}

.delete-icon img {
  height: 16px;
  width: 16px;
}

.delete-icon:hover {
  background-color: hsl(0 0% 77% / 0.4);
}
.search-icon {
  width: 24px;
  height: 24px;
  margin-left: 4px;
}
