.billing-modal {
  --gray: var(--light-gray, 0 0% 87%);
  --error-billing: var(--error, 0 77% 53%);
  max-height: 90%;
}

.billing {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttons {
  width: 100%;
  margin-top: 2rem;
}

.buttons button {
  width: 100%;
}

.buttons button:first-child {
  margin-bottom: 1rem;
}
