.cart-modal {
  width: min(440px, 92%);
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
  margin-bottom: 1rem;
}

.body-text {
  font-size: 18px;
  text-align: center;
  width: min(380px, 96%);
  margin: 0 auto 2rem auto;
}
